.btn {
  border-radius: 0;
  margin-left: .5vw;
  margin-top: 1vh;
}

/* .AddContact {
 display:inline-block;
 padding:0.2em 1.45em;
 margin:0.1em;
 border:0.15em solid #CCCCCC;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Segoe UI','Roboto',sans-serif;
 font-weight:400;
 color:#000000;
 background-color:#CCCCCC;
 text-align:center;
 position:relative;
}
.AddContact:hover{
 border-color:#7a7a7a;
}
.AddContact:active{
 background-color:#999999;
} */
