.ContactPageContact {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 94vh;
  background: #EAE8FF;
  overflow-wrap: break-word;
  overflow-y: scroll;
}
.Contact {
  background: #78C186;
  flex: 1;
  color: #000000;
  height: 94vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.ContactInfo {
  border-top:solid 2px #FFCAD4;
  border-bottom:solid 2px #FFCAD4;
  background: #78C186;
  height: 10vh;
  padding-left: 1vw;
  cursor: pointer;
  overflow-y: hidden;
} .ContactInfo:hover{
  background-color: #588D62;}

ul {list-style: none;
    padding-left: 0;}

 .ContactName {
   font-size: 2vh;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 .ContactPhone {
   font-size: 2vh;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 .ContactEmail {
   font-size: 2vh;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }
