body {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.App {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
}

.navbar{
  height: 5vh;
  display: flex;
  font-size: 3vh;
  color: #ffffff;
  text-align: center;
  padding-left: 10vw;
  padding-top: 1vh;
  justify-content: center;
}
