body {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.App {
  height: 72vh;
  width: 100vw;
}

.wrapper {
  display: flex;
}

.App-header {
  height: 30px;
  display: flex;
  text-align: left;
  vertical-align: ;
  padding-left: 10vw;
  padding-top: 2.7vh;
  padding-bottom: 4.3vh;
    background: #4EFFEF;
}
