@darkerGreen: #001C00;
@darkGreen: #003300;
@mediumGreen: #46733E;
@lightGreen: #EDF1BE;

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.App {
  height: 400px;
  width: 500px;
  border: solid 2px #001C00;
}

.wrapper {
  display: flex;
}

.App-header {
  height: 30px;
  display: flex;
  text-align: left;
    background: #46733E;
}
